<footer>
  <div class="container-fluid text-center text-md-left">
    <div class="row">

      
      <div class="col-md-4">

        <a href="http://Facebook.com">Facebook</a>
      </div>
     

      <div class="col-md-4">

        <a style="text-align: center;margin-left: 40%;" [routerLink]="['/aboutUs']">About Us</a>
      </div>

      <div class="col-md-4">

        <a style="float: right;margin-right: 5%;" href="http://Twitter.com">Twitter</a>
        
      </div>
    </div>
  </div>

  <!-- Copyright part-->
  <div class="footer-copyright text-center ftcopy">
    © 2018 Copyright: Sudan Furniture site
  </div>
  <!-- Copyright part -->

</footer>