<div>
  <app-navbar></app-navbar>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-1 imgcen">
        <figure>
          <a [routerLink]="['/beds']">
           <img src="assets/beds.jpg" alt="beds pic" >
          </a>
          <figcaption>
            <p>beds</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 offset-md-1 imgcen">
        <figure>
          <a [routerLink]="['/mattresses']"> 
              <img src="assets/mattresses.jpg" alt="mattresses pic" >
          </a>
          <figcaption>
            <p>mattresses</p>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-1 imgcen">
          <figure>
            <a [routerLink]="['/bedside']">
             <img src="assets/bedsidetable.jpg" alt="bedside table pic">
            </a>
            <figcaption>
              <p>bedside tables</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-4 offset-md-1 imgcen">
          <figure>
            <a [routerLink]="['/dressing']"> 
                <img src="assets/dressing tables.jpg" alt="dressing table pic">
            </a>
            <figcaption>
              <p>dressing tables</p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  <div class="ftup">
    <app-footer></app-footer>
  </div>