<app-navbar></app-navbar>



<!--shelves row-->
<div class="row">
  <div class="col-md-10 secdv">
   <h3>SHELVES</h3>
  </div>
</div>
<!--shelves comp row 1-->
<div class="row " style="padding-left: 4%;margin-top: 2%;">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/bookcase']">
        <img src="assets/shelves1.jpeg">
      </a>
      <figcaption>
        <h6>BookCase wood</h6>
        <p>5000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/accent-shelf']">
        <img src="assets/shelv2.jpg">
      </a>
      <figcaption>
          <h6>Accent shelf</h6>
          <p>3000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/floating-shelf']">
        <img src="assets/shelv3.jpg">
      </a>
      <figcaption>
          <h6>Floating shelf</h6>
          <p>2500 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/6-pack-wall']">
        <img src="assets/shelv4.jpg">
      </a>
      <figcaption>
          <h6>6-pack wall shelves</h6>
          <p>7000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
</div>

<!--shelves comp row 2-->
<div class="row imglft1">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/6-pack-wall']">
        <img src="assets/shelv4.jpg">
      </a>
      <figcaption>
          <h6>6-pack wall shelves</h6>
          <p>7000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/floating-shelf']">
        <img src="assets/shelv3.jpg">
      </a>
      <figcaption>
          <h6>Floating shelf</h6>
          <p>2500 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/accent-shelf']">
        <img src="assets/shelv2.jpg">
      </a>
      <figcaption>
          <h6>Accent shelves</h6>
          <p>3000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/bookcase']">
          <img src="assets/shelves1.jpeg">
        </a>
        <figcaption>
          <h6>BookCase wood</h6>
          <p>5000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
</div>

<!--shelves comp row 3-->
    
<div class="row imglft1">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/accent-shelf']">
        <img src="assets/shelv2.jpg">
      </a>
      <figcaption>
          <h6>Accent shelves</h6>
          <p>3000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/bookcase']">
        <img src="assets/shelves1.jpeg">
      </a>
      <figcaption>
        <h6>BookCase wood</h6>
        <p>5000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/6-pack-wall']">
        <img src="assets/shelv4.jpg">
      </a>
      <figcaption>
          <h6>6-pack wall shelves</h6>
          <p>7000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/floating-shelf']">
        <img src="assets/shelv3.jpg">
      </a>
      <figcaption>
          <h6>Floating shelf</h6>
          <p>2500 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
</div>


<div>
  <app-footer></app-footer>
</div>