<app-navbar></app-navbar>



<!--tables row-->
<div class="row">
  <div class="col-md-10 secdv">
   <h3>TABLES</h3>
  </div>
</div>
<!--tables comp row 1-->
<div class="row " style="padding-left: 4%;margin-top: 2%;">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/parsonsGray']">
        <img src="assets/table1.jpg">
      </a>
      <figcaption>
        <h6>Parsons gray marble top</h6>
        <p>11000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/parsonsWhite']">
        <img src="assets/table2.jpg">
      </a>
      <figcaption>
          <h6>Parsons white marble top</h6>
          <p>13000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/lab-table']">
        <img src="assets/table3.jpeg">
      </a>
      <figcaption>
          <h6>Lab certified table</h6>
          <p>12500 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/square-table']">
        <img src="assets/table4.jpg">
      </a>
      <figcaption>
          <h6>Square coffee table</h6>
          <p>10000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
</div>

<!--tables comp row 2-->
<div class="row imglft1">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/square-table']">
        <img src="assets/table4.jpg">
      </a>
      <figcaption>
          <h6>Square coffee table</h6>
          <p>10000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/lab-table']">
        <img src="assets/table3.jpeg">
      </a>
      <figcaption>
          <h6>Lab certified table</h6>
          <p>12500 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/parsonsWhite']">
          <img src="assets/table2.jpg">
        </a>
        <figcaption>
            <h6>Parsons white marble top</h6>
            <p>13000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/parsonsGray']">
          <img src="assets/table1.jpg">
        </a>
        <figcaption>
          <h6>Parsons gray marble top</h6>
          <p>11000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
</div>

<!--tables comp row 3-->
    
<div class="row imglft1">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/parsonsWhite']">
        <img src="assets/table2.jpg">
      </a>
      <figcaption>
          <h6>Parsons white marble top</h6>
          <p>13000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/parsonsGray']">
        <img src="assets/table1.jpg">
      </a>
      <figcaption>
        <h6>Parsons gray marble top</h6>
        <p>11000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/square-table']">
        <img src="assets/table4.jpg">
      </a>
      <figcaption>
          <h6>Square coffee table</h6>
          <p>10000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/lab-table']">
          <img src="assets/table3.jpeg">
        </a>
        <figcaption>
            <h6>Lab certified table</h6>
            <p>12500 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
</div>


<div>
  <app-footer></app-footer>
</div>