<app-navbar></app-navbar>


<div class="row">
  <div class="col-md-10 secdv">
    <h3>Wooden dining table</h3>
  </div>
</div>

<div class="row secdv1">
  <div class="col-md-6">
    <img src="assets/kit1.jpg">
  </div>
  <div class="col-md-4 secdv2">
    <h5>Original wooden dining table</h5>
    <p>By sudan Furniture company</p>
    <p>six chairs and one table</p>
    <p>only for 16000 INR , Free Delivery</p>
    <div class="but">
        Quantity : <input type="number"><br>
        <button class="btn btn-primary">Buy Now</button>
      </div>
      <div class="but1">
        <button class="btn btn-primary">Add to cart</button>
      </div>
  </div>
</div>


<div class="ftup">
  <app-footer></app-footer>
</div>