<app-navbar></app-navbar>



<!--dressing tables row-->
<div class="row">
  <div class="col-md-10 secdv">
   <h3>DRESSING TABLES</h3>
  </div>
</div>
<!--dressing tables comp row 1-->
<div class="row " style="padding-left: 4%;margin-top: 2%;">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/westwood']">
        <img src="assets/drtable1.jpg">
      </a>
      <figcaption>
        <h6>Westwood wooden dressing</h6>
        <p>2000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/cherry']">
        <img src="assets/drtable2.jpg">
      </a>
      <figcaption>
          <h6>Cherry tree dressing </h6>
          <p>2100 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/modern-corner']">
        <img src="assets/drtable3.jpg">
      </a>
      <figcaption>
          <h6>Modern corner dressing</h6>
          <p>2500 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/dressing-with-mirror']">
        <img src="assets/drtable4.jpg">
      </a>
      <figcaption>
          <h6>dressing with mirror</h6>
          <p>2000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
</div>

<!--dressing tables comp row 2-->
<div class="row imglft1">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/dressing-with-mirror']">
        <img src="assets/drtable4.jpg">
      </a>
      <figcaption>
          <h6>dressing with mirror</h6>
          <p>2000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/modern-corner']">
          <img src="assets/drtable3.jpg">
        </a>
        <figcaption>
            <h6>Modern corner dressing</h6>
            <p>2500 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/cherry']">
          <img src="assets/drtable2.jpg">
        </a>
        <figcaption>
            <h6>Cherry tree dressing </h6>
            <p>2100 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/westwood']">
          <img src="assets/drtable1.jpg">
        </a>
        <figcaption>
          <h6>Westwood wooden dressing</h6>
        <p>2000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
</div>

<!--dressing tables comp row 3-->
    
<div class="row imglft1">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/cherry']">
        <img src="assets/drtable2.jpg">
      </a>
      <figcaption>
          <h6>Cherry tree dressing </h6>
          <p>2100 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/westwood']">
          <img src="assets/drtable1.jpg">
        </a>
        <figcaption>
          <h6>Westwood wooden dressing</h6>
        <p>2000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/dressing-with-mirror']">
          <img src="assets/drtable4.jpg">
        </a>
        <figcaption>
            <h6>dressing with mirror</h6>
            <p>2000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/modern-corner']">
          <img src="assets/drtable3.jpg">
        </a>
        <figcaption>
            <h6>Modern corner dressing</h6>
            <p>2500 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
</div>


<div>
  <app-footer></app-footer>
</div>