form{
    margin-top: 100px;  
    padding-bottom: 8%;
    height: 300px;
    font-family: opensans;
    
}
.formk{
    padding-left: 35%;
    margin-top: 10%;
}
button{
    margin-top: 1%;
}
.terms{
    margin-top: 10%;
    padding-left: 2%;
}
input{
    width: 60%;
}
.ftup{
    margin-top: -4%;
}