<app-navbar></app-navbar>



<!--office desks row-->
<div class="row">
  <div class="col-md-10 secdv">
   <h3>OFFICE DESKS</h3>
  </div>
</div>
<!--officec desks comp row 1-->
<div class="row " style="padding-left: 4%;margin-top: 2%;">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/twoOfficeDesk']">
        <img src="assets/office1.jpg">
      </a>
      <figcaption>
        <h6>Two persons office desk</h6>
        <p>11000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/home-desk']">
        <img src="assets/office2.jpg">
      </a>
      <figcaption>
          <h6>Home office desk </h6>
          <p>9000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/flowy']">
        <img src="assets/office3.jpg">
      </a>
      <figcaption>
          <h6>Flowy office desk</h6>
          <p>10.000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/sudan']">
        <img src="assets/office4.jpg">
      </a>
      <figcaption>
          <h6>Sudan office desk</h6>
          <p>12000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
</div>

<!--office desks comp row 2-->
<div class="row imglft1">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/sudan']">
        <img src="assets/office4.jpg">
      </a>
      <figcaption>
          <h6>Sudan office desk</h6>
          <p>12000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/flowy']">
          <img src="assets/office3.jpg">
        </a>
        <figcaption>
            <h6>Flowy office desk</h6>
            <p>10.000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/home-desk']">
          <img src="assets/office2.jpg">
        </a>
        <figcaption>
            <h6>Home office desk </h6>
            <p>9000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/twoOfficeDesk']">
          <img src="assets/office1.jpg">
        </a>
        <figcaption>
          <h6>Two persons office desks</h6>
          <p>11000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
</div>

<!--office desks comp row 3-->
    
<div class="row imglft1">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/home-desk']">
        <img src="assets/office2.jpg">
      </a>
      <figcaption>
          <h6>Home office desk </h6>
          <p>9000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/twoOfficeDesk']">
          <img src="assets/office1.jpg">
        </a>
        <figcaption>
          <h6>Two persons office desks</h6>
          <p>11000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/sudan']">
          <img src="assets/office4.jpg">
        </a>
        <figcaption>
          <h6>Sudan office desk</h6>
          <p>12000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/flowy']">
          <img src="assets/office3.jpg">
        </a>
        <figcaption>
            <h6>Flowy office desk</h6>
            <p>10.000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
</div>


<div>
  <app-footer></app-footer>
</div>