<app-navbar></app-navbar>



<!--tv units row-->
<div class="row">
  <div class="col-md-10 secdv">
   <h3>TV-UNITS</h3>
  </div>
</div>
<!--tv units row 1-->
<div class="row " style="padding-left: 4%;margin-top: 2%;">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/Haruto']">
        <img src="assets/tv1.jpg">
      </a>
      <figcaption>
        <h6>Haruto TV unit</h6>
        <p>12000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/keerthi']">
        <img src="assets/tv2.jpeg">
      </a>
      <figcaption>
          <h6>Keerthi TV wall unit</h6>
          <p>11000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/white-floating-tv']">
        <img src="assets/tv3.jpg">
      </a>
      <figcaption>
          <h6>White Floating TV unit</h6>
          <p>12500 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/wooden-wall-unit']">
        <img src="assets/tv4.jpg">
      </a>
      <figcaption>
          <h6>Wooden wall unit</h6>
          <p>9000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
</div>

<!--tv units comp row 2-->
<div class="row imglft1">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/wooden-wall-unit']">
        <img src="assets/tv4.jpg">
      </a>
      <figcaption>
          <h6>Wooden wall unit</h6>
          <p>9000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/white-floating-tv']">
        <img src="assets/tv3.jpg">
      </a>
      <figcaption>
          <h6>White Floating TV unit</h6>
          <p>12500 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/keerthi']">
        <img src="assets/tv2.jpeg">
      </a>
      <figcaption>
          <h6>Keerthi TV wall unit</h6>
          <p>11000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/Haruto']">
        <img src="assets/tv1.jpg">
      </a>
      <figcaption>
        <h6>Haruto TV unit</h6>
        <p>12000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
</div>

<!--tv units comp row 3-->
    
<div class="row imglft1">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/keerthi']">
        <img src="assets/tv2.jpeg">
      </a>
      <figcaption>
          <h6>Keerthi TV wall unit</h6>
          <p>11000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/Haruto']">
        <img src="assets/tv1.jpg">
      </a>
      <figcaption>
        <h6>Haruto TV unit</h6>
        <p>12000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/wooden-wall-unit']">
        <img src="assets/tv4.jpg">
      </a>
      <figcaption>
          <h6>Wooden wall unit</h6>
          <p>9000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/white-floating-tv']">
        <img src="assets/tv3.jpg">
      </a>
      <figcaption>
          <h6>White Floating TV unit</h6>
          <p>12500 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
</div>


<div>
  <app-footer></app-footer>
</div>