.secdv{
    margin-top: 8%;
}
img{
    float: left;
    width: 200px;
    height: 150px;
}
h5{
    float: right;
    font-family: opensans;
    padding-left: 10%;
}
h6{
    float: center;
    font-family: opensans;
    padding-left: 27%;
    margin-top: -10%;
}
p{
    font-family: opensans;
}
input{
    width: 50px;
}
.inp{
    float: center;
    padding-left: 27%;
}
button{
    background-color: #343a40;
    color: whitesmoke;
    margin-top: 2%;
}