<app-navbar></app-navbar>



<div class="container">
  <div class="row">
      <div class="col-md-10 secdv">
          <h3>MY CART</h3>
      </div>
  </div>


  <div class="row" style="margin-top: 3%">
        <img src="assets/bed1.jpg">
        <h5>Black Frame Canopy bed</h5>
  </div>
  <div>
      <h6>Original by Canopy company, a wooden bed with a steel black frame with four corners and steel bed legs. </h6>
  </div>
  <div class="inp">
    <p>Price:   4000 INR</p>
    Quantity: <input type="number"><br>
    <button  type="button"  class="btn btn-default btn-md">Buy now</button>
  </div>


  <div class="row" style="margin-top: 3%">
      <img src="assets/bed1.jpg">
      <h5>Black Frame Canopy bed</h5>
</div>
<div>
    <h6>Original by Canopy company, a wooden bed with a steel black frame with four corners and steel bed legs. </h6>
</div>
<div class="inp">
  <p>Price:   4000 INR</p>
  Quantity: <input type="number"><br>
  <button  type="button"  class="btn btn-default btn-md">Buy now</button>
</div>


<div class="row" style="margin-top: 3%">
    <img src="assets/bed1.jpg">
    <h5>Black Frame Canopy bed</h5>
</div>
<div>
  <h6>Original by Canopy company, a wooden bed with a steel black frame with four corners and steel bed legs. </h6>
</div>
<div class="inp">
<p>Price:   4000 INR</p>
Quantity: <input type="number"><br>
<button  type="button"  class="btn btn-default btn-md">Buy now</button>
</div>


<div class="row" style="margin-top: 3%">
    <img src="assets/bed1.jpg">
    <h5>Black Frame Canopy bed</h5>
</div>
<div>
  <h6>Original by Canopy company, a wooden bed with a steel black frame with four corners and steel bed legs. </h6>
</div>
<div class="inp">
<p>Price:   4000 INR</p>
Quantity: <input type="number"><br>
<button  type="button"  class="btn btn-default btn-md">Buy now</button>
</div>

</div>


<div>
  <app-footer></app-footer>
</div>