<app-navbar></app-navbar>



<!--kitchen row-->
<div class="row">
  <div class="col-md-10 secdv">
   <h3>KITCHEN AND DINING</h3>
  </div>
</div>
<!--kitchen comp row 1-->
<div class="row " style="padding-left: 4%;margin-top: 2%;">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/wooden-dining']">
        <img src="assets/kit1.jpg">
      </a>
      <figcaption>
        <h6>Wood dining table</h6>
        <p>16000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/dining-kitchen']">
        <img src="assets/kit2.jpg">
      </a>
      <figcaption>
          <h6>Dining Kitchen table </h6>
          <p>14000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/kitchen-cabinets']">
        <img src="assets/kit3.jpg">
      </a>
      <figcaption>
          <h6>Kitchen Cabinets</h6>
          <p>20000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/cyprus-serving']">
        <img src="assets/kit4.jpg">
      </a>
      <figcaption>
          <h6>Cyprus serving trolley</h6>
          <p>900 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
</div>

<!--kitchen comp row 2-->
<div class="row imglft1">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/cyprus-serving']">
        <img src="assets/kit4.jpg">
      </a>
      <figcaption>
          <h6>Cyprus serving trolley</h6>
          <p>900 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/kitchen-cabinets']">
        <img src="assets/kit3.jpg">
      </a>
      <figcaption>
          <h6>Kitchen Cabinets</h6>
          <p>20000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/dining-kitchen']">
        <img src="assets/kit2.jpg">
      </a>
      <figcaption>
          <h6>Dining Kitchen table </h6>
          <p>14000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/wooden-dining']">
        <img src="assets/kit1.jpg">
      </a>
      <figcaption>
        <h6>Wood dining table</h6>
        <p>16000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
</div>

<!--kitchen comp row 3-->
    
<div class="row imglft1">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/dining-kitchen']">
        <img src="assets/kit2.jpg">
      </a>
      <figcaption>
          <h6>Dining Kitchen table </h6>
          <p>14000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/wooden-dining']">
        <img src="assets/kit1.jpg">
      </a>
      <figcaption>
        <h6>Wood dining table</h6>
        <p>16000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/cyprus-serving']">
          <img src="assets/kit4.jpg">
        </a>
        <figcaption>
            <h6>Cyprus serving trolley</h6>
            <p>900 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/kitchen-cabinets']">
          <img src="assets/kit3.jpg">
        </a>
        <figcaption>
            <h6>Kitchen Cabinets</h6>
            <p>20000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
</div>


<div>
  <app-footer></app-footer>
</div>