<app-navbar></app-navbar>


<div class="row">
  <div class="col-md-10 secdv">
    <h3>BOOK-CASE WOODEN SHELF</h3>
  </div>
</div>

<div class="row secdv1">
  <div class="col-md-6">
    <img src="assets/shelves1.jpeg">
  </div>
  <div class="col-md-4 secdv2">
    <h5>Original Book case wood shelf</h5>
    <p>By sudan co.ltd</p>
    <p>only for 5000 INR , Free Delivery</p>
    <div class="but">
        Quantity : <input type="number"><br>
        <button class="btn btn-primary">Buy Now</button>
      </div>
      <div class="but1">
        <button class="btn btn-primary">Add to cart</button>
      </div>
  </div>
</div>


<div class="ftup">
  <app-footer></app-footer>
</div>