<app-navbar></app-navbar>



<!--sofas and couches row-->
<div class="row">
  <div class="col-md-10 secdv">
   <h3>SOFA'S AND COUCHES</h3>
  </div>
</div>
<!--sofas and couches comp row 1-->
<div class="row " style="padding-left: 4%;margin-top: 2%;">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/borghese']">
        <img src="assets/sofa1.jpg">
      </a>
      <figcaption>
        <h6>Borghese sofa</h6>
        <p>16000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/toufted']">
        <img src="assets/sofa2.jpg">
      </a>
      <figcaption>
          <h6>Toufted scroll arm</h6>
          <p>17500 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/love-seat']">
        <img src="assets/sofa3.jpg">
      </a>
      <figcaption>
          <h6>Love seat combo</h6>
          <p>18000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/lshape-sofa']">
        <img src="assets/sofa4.jpg">
      </a>
      <figcaption>
          <h6>L shape couche</h6>
          <p>19000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
</div>

<!--sofas and couches comp row 2-->
<div class="row imglft1">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/']">
        <img src="assets/sofa4.jpg">
      </a>
      <figcaption>
          <h6>L shape couche</h6>
          <p>19000 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/']">
          <img src="assets/sofa3.jpg">
        </a>
        <figcaption>
            <h6>Love seat combo</h6>
            <p>18000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/']">
          <img src="assets/sofa2.jpg">
        </a>
        <figcaption>
            <h6>Toufted scroll arm</h6>
            <p>17500 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/']">
          <img src="assets/sofa1.jpg">
        </a>
        <figcaption>
          <h6>Borghese sofa</h6>
          <p>15000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
</div>

<!--sofas and couches comp row 3-->
    
<div class="row imglft1">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/']">
        <img src="assets/sofa2.jpg">
      </a>
      <figcaption>
          <h6>Toufted scroll arm</h6>
          <p>17500 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/']">
          <img src="assets/sofa1.jpg">
        </a>
        <figcaption>
          <h6>Borghese sofa</h6>
          <p>15000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/']">
          <img src="assets/sofa4.jpg">
        </a>
        <figcaption>
            <h6>L shape couche</h6>
            <p>19000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/']">
          <img src="assets/sofa3.jpg">
        </a>
        <figcaption>
            <h6>Love seat combo</h6>
            <p>18000 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
</div>


<div>
  <app-footer></app-footer>
</div>