<app-navbar></app-navbar>



<!--bedside row-->
<div class="row">
  <div class="col-md-10 secdv">
   <h3>BEDSIDE TABLES</h3>
  </div>
</div>
<!--bedside comp row 1-->
<div class="row " style="padding-left: 4%;margin-top: 2%;">
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/modernist']">
        <img src="assets/bedside1.jpg">
      </a>
      <figcaption>
        <h6>Modernist wood</h6>
        <p>1700 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/yuko']">
        <img src="assets/bedside2.jpg">
      </a>
      <figcaption>
          <h6>Yuko bedside table </h6>
          <p>1900 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/snoze']">
        <img src="assets/bedside3.jpg">
      </a>
      <figcaption>
          <h6>Snoze Tall</h6>
          <p>1800 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="imgrest">
      <a [routerLink]="['/ledelle']">
        <img src="assets/bedside4.jpg">
      </a>
      <figcaption>
          <h6>Ledelle bedside</h6>
          <p>2500 INR</p>
      </figcaption>
      <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
    </figure>
  </div>
</div>

<!--bedside comp row 2-->
<div class="row imglft1">
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/ledelle']">
          <img src="assets/bedside4.jpg">
        </a>
        <figcaption>
          <h6>Ledelle bedside</h6>
          <p>2500 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/snoze']">
          <img src="assets/bedside3.jpg">
        </a>
        <figcaption>
          <h6>Snoze Tall</h6>
          <p>1800 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/yuko']">
          <img src="assets/bedside2.jpg">
        </a>
        <figcaption>
          <h6>Yuko bedside table </h6>
          <p>1900 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/modernist']">
          <img src="assets/bedside1.jpg">
        </a>
        <figcaption>
          <h6>Modernist wood</h6>
          <p>1700 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
</div>

<!--bedside comp row 3-->
    
<div class="row imglft1">
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/yuko']">
          <img src="assets/bedside2.jpg">
        </a>
        <figcaption>
          <h6>Yuko bedside table </h6>
          <p>1900 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/modernist']">
          <img src="assets/bedside1.jpg">
        </a>
        <figcaption>
          <h6>Modernist wood</h6>
          <p>1700 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/ledelle']">
          <img src="assets/bedside4.jpg">
        </a>
        <figcaption>
          <h6>Ledelle bedside</h6>
          <p>2500 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="imgrest">
        <a [routerLink]="['/snoze']">
          <img src="assets/bedside3.jpg">
        </a>
        <figcaption>
          <h6>Snoze Tall</h6>
          <p>1800 INR</p>
        </figcaption>
        <button  type="button"  class="btn btn-default btn-md">Add to cart</button>
      </figure>
    </div>
</div>


<div>
  <app-footer></app-footer>
</div>