<div>
  <app-navbar></app-navbar>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-1 imgcen">
        <figure>
          <a [routerLink]="['/sofasAndCouches']">
           <img src="assets/sofas and couches.jpg" >
          </a>
          <figcaption>
            <p>Sofas and Couches</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 offset-md-1 imgcen">
        <figure>
          <a [routerLink]="['/tables']"> 
              <img src="assets/tables.jpeg" >
          </a>
          <figcaption>
            <p>Tables</p>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-1 imgcen">
          <figure>
            <a [routerLink]="['/shelves']">
             <img src="assets/shelves.jpg">
            </a>
            <figcaption>
              <p>Shelves</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-4 offset-md-1 imgcen">
          <figure>
            <a [routerLink]="['/tvUnits']"> 
                <img src="assets/tvunits.jpg">
            </a>
            <figcaption>
              <p>TV units</p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  <div class="ftup">
    <app-footer></app-footer>
  </div>